:root {
	--light-gray: #f8f8f8;
	--dark-gray: #707070;
	--light-blue: #1792d2;
	--dark-blue: #143774;
}

/* Global 
========================= */

body {
	font-size: 1.125rem;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
}

/* Typography
========================= */

h1, h2, h3 {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	color: var(--dark-blue);
}

strong { font-weight: 700; }

a { color: var(--light-blue); }
a:hover { color: var(--dark-blue); }

nav ul { list-style-type: none; }

nav a {
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 1px;
	color: var(--dark-gray);
}

nav a:hover { color: var(--light-blue); }

.title { font-size: 2rem; }

.subtitle {
	font-size: .8rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.55px;
	color: var(--light-blue);
}

.current-page:hover { color: var(--dark-gray); }

.article-title { font-size: 1.5rem; }
.article-body { line-height: 1.5rem; }

.article-info,
.article-read-more { font-size: .875rem; }

.article-read-more {
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 2px;
}

.article-read-more:hover { text-decoration: underline;}

/* Layout
========================= */

.container {
	width: 90%;
	max-width: 900px;
	margin-inline: auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container-main { margin-block: 4em; }

@media (min-width: 725px) {
	.container-flex { flex-direction: row; }

	nav { margin-block: auto; }
	main { width: 70%; }
	aside { width: 25%; }
}

/* Header Section
--------------- */

#header {
	padding-block: 5em;
	text-align: center;
	background: var(--light-gray);
}

/* Nav Bar
--------------- */

nav ul {
	display: flex;
	justify-content: center;
	gap: 1.25em;
}

nav a {
	display: inline-block;
	padding: .25em 0;
}

.current-page { border-bottom: 1px solid var(--dark-gray); }

@media (max-width: 725px) {
	nav ul {
		flex-direction: column;
		gap: 0;
	}

	nav li { margin: .5em 0; }
}

/* Main
--------------- */

.article-featured {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	border-bottom: 1px solid var(--dark-gray);
}

.article-featured .article-image { order: 1; }
.article-featured .article-info {
	margin-block: 2em;
	order: 2;
}
.article-featured .article-title {
	margin: 0;
	order: 3;
}
.article-featured .article-body { order: 4; }
.article-featured .article-read-more { order: 5; }

.article-recent {
	display: flex;
	flex-direction: column;
	margin-block: 2em;
}

.article-recent-main { order: 2; }
.article-recent-secondary { order: 1; }

@media (min-width: 675px) {
	.article-info { text-align: center; }

	.article-recent {
		flex-direction: row;
		justify-content: space-between;
	}

	.article-recent-main { width: 65%; }
	.article-recent-secondary { width: 30%; }

	.article-image {
		width: 100%;
		min-height: 275px;
		object-fit: cover;
		object-position: center;
	}
}

/* Aside Bar
--------------- */

.sidebar-widget {
	padding: 1em;
	margin-bottom: 1.5em;
	background-color: var(--light-gray);
	border: 1px solid var(--dark-gray);
}

.widget-title { margin-top: 0; }
.widget-body { margin-bottom: 0; }

.widget-recent-post {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #333;
}

.widget-recent-post .widget-image { order: -1; }

/* Footer
--------------- */

#footer-section {
	padding-block: 3em;
	text-align: center;
	background-color: var(--dark-blue);
	color: var(--light-gray);
}

#footer-section h4 { margin-bottom: .4em; }